{% extends 'aplicacion/home.html' %}

{% block titulo %}

    <h1 class="masthead-heading mb-0">Sobre Mí</h1>
            
{% endblock titulo %}

{% block contenido %}

<p></p>
<p style= "width:50%; margin: 0 auto ;   text-align:justify;">
    Mi nombre es Yessica Cartaya, soy Venezolana pero vivo en Argentina desde hace 5 años y medio. Soy Técnico en Informática, 
    desde que me gradué solo he trabajado con Base de Datos y actualmente con análisis de Datos a través de la creación de 
    dashboard en Power BI, he perdido algunos conocimientos de las herramientas de programación por lo que me encuentro refrescando 
    conocimientos y aprendiendo de nuevas herramientas de programación que me permitan agilizar parte de mi trabajo, por ejemplo
    los tableros diseñados al ser subidos al ReportServer mensualmente deben ser actualizados, por lo que debo ejecutar una serie 
    de tareas que me sacan tiempo para poder dedicarme a desarrollar nuevos proyectos, es por ello que se me ocurrió diseñar en Python 
    una página que me permita ejecutar mensualmente los scripts en sql server para la actualización de los datos en cada una de 
    las tablas, posterior a ello realizar la cargar el cubo de SSAS y el Backup de dicho cubo para luego refrescar el tablero
    con los datos del periodo a consultar, todo esto con solo pulsar un clic y dejar de realizar estas tareas manualmente y asi como 
    este caso muchos otros que quiero comenzar a desarrollar y así comenzar a introducirme en nuevas ramas de mi carrera distintas a 
    Base de Datos.

</p>
<p></p>
    
{% endblock contenido %}